entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["geckodriver", "openssl", "postgresql", "sqlite", "chromium", "chromedriver"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80

[workflows]
runButton = "crawl"

[[workflows.workflow]]
name = "crawl"
mode = "sequential"
author = 15188876

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python crawler/main.py"
